exportClasses (RedPort)

exportMethods (

  calld,
  ping,
  version,
  updateGraph,
  updateCoordXY,
  getGraph,
  addGraph,
  addLegend.color,
  addLegend.size,
  addLegend.shape,
  relax,

  getNodes,
  getNodeIDs,
  addNodes,
  deleteNodes,
  nestNodes, 
  nesthc,

  updateContainerSize,
  mergeOutEdges,
  getContainerComponets,
  mergeNodes,
    
  getEdges,
  getEdgeIDs,
  getSourceEdgeIDs,
  getTargetEdgeIDs,
  setArrowDirection,  
  addEdges,
  deleteEdges,
  addEdgeBetweenContainers,
                  
  selectEdges,
  selectNodes,
  selectAllEdges,
  selectAllNodes,
  selectGraph,

  deSelectEdges,
  deSelectNodes,
  deSelectGraph,

  deleteSelectedEdges,
  deleteSelectedNodes,
                  
  isRelaxActive,
  exitd,
  resetd,
  
  duplicateGraph,
  addSubgraph,
  addSubgraph.list,
  addSeries
  )

export(
  RedPort,
  gtoy.rm,
  att.setv,
  att.addv,
  att.sete,
  att.adde,
  att.mapv,
  att.mape,
  subg,
  cea,
  .rederpost
  )

import(methods)
importFrom(igraph, which_mutual, delete_vertex_attr, vertex_attr_names, delete_edges) 
importFrom(igraph, delete_edge_attr, edge_attr_names, set_edge_attr, set_vertex_attr)
importFrom(igraph, vertex_attr, edge_attr, vcount, ecount, decompose) 
importFrom(igraph, as_edgelist, delete_vertices, delete_edges, add_edges)
importFrom(igraph, layout_with_drl, erdos.renyi.game, union, V, E,'V<-','E<-')
importFrom(utils, setTxtProgressBar, txtProgressBar, close.socket, make.socket) 
importFrom(utils, read.socket, write.socket)
importFrom(graphics, hist, legend, lines, par, plot, polygon, rect, text)
importFrom(graphics, abline, boxplot, axis, mtext, title)
importFrom(grDevices, colorRampPalette, grey, terrain.colors, col2rgb, pdf, dev.off)
importFrom(stats, cor, density, p.adjust, quantile, runif, rnorm)


